
.font-nosifer { font-family: 'Nosifer', cursive; }
.font-spicy { font-family: 'Spicy Rice', serif; }
.font-nunito { font-family: 'Nunito Sans', sans-serif; }
/* Marquee Animation */
.animate-marquee { animation: marquee 25s linear infinite; }
.animate-marquee2 { animation: marquee2 25s linear infinite; }
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}
@keyframes marquee2 {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0%); }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar { display: none; }
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar { -ms-overflow-style: none;  scrollbar-width: none; }
